#grid{
    display: grid;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    margin: 50px auto;
}

.row{
    display: flex;
    
}

.square{
    border: 1px solid black;
    flex: 1;
}