#buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
 #color{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
 }

#grid{
    display: grid;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    margin: 30px auto;
}

.row{
    display: flex;
    
}

.square{
    border: 1px solid black;
    flex: 1;
}

#changeGrid{
    display: flex;
    justify-content: center;
    gap: 16px;
}

